html {
    min-height: 100%;
}

body {
    min-height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.post {
    background-color: rgb(150, 150, 150);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}

.post-date {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: rgb(40, 40, 40);
}

.post img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.post-card img {
    max-width: 95%;  
    height: auto;   
}


.post-card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: rgb(247, 245, 243);
    border-radius: 10px;
    border-width: 1px;  
    border-style: solid;  
    border-color: #e0e0e0;  
    
}

.post-card > *:not(.post-footer) {
    margin-left: 10px;
}



.like-button {
    margin-top: 5px;
    color: #007bff;
    cursor: pointer;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    border: none;
    background-color: transparent;
}

.like-button:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}



.reset-button-wrapper {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
    margin-bottom: 20px;
  }
  .reset-button {
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 30px;
    background-color: rgb(124, 124, 254);
  }

  .reset-button:hover {
    background-color: rgb(112, 112, 231);
    color: white;
  }

  #app {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 850px; 
  }

  .empty-space {
    flex: 1;
  }
  
  .main-page {
    margin-top: 20px;
    overflow: hidden;              
  }

  .form-wrapper {
    margin-top: 20px;            
    background-color: rgb(235, 235, 165);   
    padding: 20px;               
    padding-left: 40px;          
    padding-right: 40px;         
    border-radius: 15px;         
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin-left: auto;           
    margin-right: auto; 
  }
  
  